/*Globals*/
html,body{
  width: 100%;
  height: 100%;
}
ul,ol{
  padding: 0;
  margin: 0;
  list-style: none;
}
a{
  text-decoration: none;
  list-style: none;
}
/*Navbar Style*/
#nav{
 transition: .4s;
 padding:1% 1%;
 font-size: 1.1em;
 overflow-x: hidden
}
/*First Section*/
#bio{
  width: 100%;
  height: 100%;
  background:url("../img/code-wallpaper-8.jpg")no-repeat center center fixed;
  background-size: cover;
  text-align: center
}

#bio h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 0;
  letter-spacing: 20px;
  text-transform: uppercase
}
@media(max-width:378px){
  #bio h1{
    font-size: 2.1rem;
    letter-spacing: 5px
  }
}
@media(max-width:330px){
  #bio h1{
    font-size: 2rem;
    letter-spacing: 2px
  }
}
#bio h3{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 0;
  letter-spacing: 15px
}
@media(max-width:378px){
  #bio h3{
    font-size: 1.425rem;
    letter-spacing: 5px
  }
}
@media(max-width:330px){
  #bio h3{
    font-size: 1.4rem;
    letter-spacing: 1px
  }
}
/*Second Section */
.software{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10% 0
}
.software .container .row .col-12 h1{
  font-weight: 700;
  margin-bottom: 5%;
  letter-spacing: 10px
}
/*Third Section*/
.fixed{
  width: 100%;
  height: 100%;
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url("../img/keep_calm_coding_16_9.jpg")no-repeat center center fixed;
  background-size: cover
}
/*Fourth Section*/
.work{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10% 0
}
.work .container .row .col-12 h1{
  font-weight: 700;
  margin-bottom: 5%;
  letter-spacing: 10px
}
.work .container .row .col-12 p{
  letter-spacing: 1px;
}

/*Footer Section*/
footer{
  width: 100%;
  background: black;
  padding: 5% 5%;
}
footer h5{
  color: #fff;
  text-align: center;
  letter-spacing: 5px
}
footer .icons{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
i.fas,
i.fab {
  font-size:2em;
  padding: 10px;
  color: white
}

/*FORM CONTACT*/

.form-contact{
  padding: 15% 10%
}

.form-contact .container{
  padding:0 20% 
}
.form-contact .container button{
  position: absolute;
  left: calc(50% - 40px);
  text-transform: uppercase
}

.invalid-feedback{
  display: block
} 

/*Modal view project styling*/

#tetris-img{
  width: 100%;
  height: 400px;
  background: url("../img/tetris-img.png") center center no-repeat;
  background-size: cover 
}